/* General settings */
textarea .materialize-textarea {
  white-space: pre-wrap;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65);
}

.flashes h4 {
    line-height: 2;
}

.search-row {
    padding-top: 30px;
}

/* Cards */

.card-image {
    overflow: hidden;
}

.card .card-image .card-title {
    background-color: rgba(0,0,0,0.5);
    padding: 0px;
    font-size: 19px;
}

.image-card{
    height: 100%;
    width: 100%;
}

/* Btn */

.btn {
  margin: 5px;
}


/* Sticky Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fafafa;
}

main {
    flex: 1 0 auto;
}

/* Individual recipe */

.card-recipe i {
    color: #1a237e;
}

/* Forms */

/* Placeholder */
::placeholder {
    color: #1a227e5e;
}

/* label color */
.input-field label {
    color: #1a237e;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #1a237e;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #1a237e;
    box-shadow: 0 1px 0 0 #1a237e;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #1a237e;
    box-shadow: 0 1px 0 0 #1a237e;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #1a237e;
    box-shadow: 0 1px 0 0 #1a237e;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #1a237e;
  }

/* Recipe visualisation  */
@media only screen and (max-width: 600px) {
  .recipe_name_tag {
    font-size: medium;
  }
}
