{% extends "base.html" %}
{% block content %}

    <!-- All Recipes' Header -->
    <div class="row">
        <div class="col s12 center-align">
            <h4>Add Your Own Recipe</h4>
        </div>
    </div>

    <div class="row card-panel indigo-text text-darken-4 cyan accent-3">
        <form class="col s12" method="POST" 
        action="{{ url_for('add_recipe') }}">
            <div class="row">
                <!-- Recipe Name-->
                <div class="input-field col s12">
                    <input placeholder="Input the Recipe Name" id="recipe_name" name="recipe_name" type="text" minlength="5" maxlength="40" class="validate" required>
                    <label for="recipe_name"><i class="fas fa-utensils"></i> Recipe Name</label>
                </div>
            </div>
            <div class="row">
                <!-- Food Tag Selection -->
                <div class="input-field col s8 center-align">
                    <select id="food_type" name="food_type" class="validate" required>
                        <option value="" disabled selected>Choose your option</option>
                        {% for food_tag in food_tags %}
                            <option value="{{ food_tag.food_type }}">{{ food_tag.food_type }}</option>
                        {% endfor %}
                    </select>
                    <label for="food_type"><i class="fas fa-tags"></i> Food Category</label>
                </div>
                <!-- Estimated Time -->
                <div class="input-field col s4">
                    <input placeholder="Minutes" id="estimated_time" name="estimated_time" type="number" minlength="1" maxlength="3" class="validate" required>
                    <label for="estimated_time"><i class="far fa-clock"></i> Estimated time</label>
                </div>
            </div>
            <!-- URL Picture -->
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Paste the URL here" id="url_picture" name="url_picture" type="text" minlength="5" class="validate">
                    <label for="url_picture"><i class="far fa-image"></i> URL Picture</label>
                </div>
            </div>
            <!-- Commentary Text Area -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea placeholder="Optional space for any general commentary" id="commentary" name="commentary" class="materialize-textarea"></textarea>
                    <label for="commentary"><i class="far fa-comment-alt"></i> Commentary</label>
                </div>
            </div>
            <!-- Ingredients List -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea placeholder="Separate each ingredient using semicolon -> ;" id="ingredients_list" name="ingredients_list" class="materialize-textarea"></textarea>
                    <label for="ingredients_list"><i class="far fa-list-alt"></i> Ingredients List</label>
                </div>
            </div>
            <!-- Preparation Method -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea placeholder="Separate each step using semicolon -> ;" id="method" name="method" class="materialize-textarea"></textarea>
                    <label for="method"><i class="fas fa-list-ol"></i> Method of Preparation</label>
                </div>
            </div>
            <!-- Submit Button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large indigo accent-2 text-shadow">
                        Add Recipe <i class="fas fa-plus right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}