{% extends "base.html" %}
{% block content %}

    <!-- Edit Recipes' Header -->
    <div class="row">
        <div class="col s12 center-align">
            <h4>Edit Your Recipe</h4>
        </div>
    </div>

    <!-- Edit Form -->
    <div class="row card-panel cyan accent-3 z-depth-2 edit-form-card">
        <form class="col s12" method="POST" 
        action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <div class="row">
                <!-- Recipe Name-->
                <div class="input-field col s12">
                    <input placeholder="Recipe Name" id="recipe_name" name="recipe_name" type="text" minlength="5" maxlength="40" class="validate" value="{{ recipe.recipe_name }}" required>
                    <label for="recipe_name"><i class="fas fa-utensils"></i> Recipe Name</label>
                </div>
            </div>
            <div class="row">
                <!-- Food Tag Selection -->
                <div class="input-field col s8 center-align">
                    <select id="food_type" name="food_type" class="validate" required>
                        <option value="" disabled>Choose food tag</option>
                        {% for food_tag in food_tags %}
                            {% if food_tag.food_type == recipe.food_type %}
                                <option value="{{ food_tag.food_type }}" selected>{{ food_tag.food_type }}</option>
                            {% else %}
                            <option value="{{ food_tag.food_type }}">{{ food_tag.food_type }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="food_type"><i class="fas fa-tags"></i> Food Category</label>
                </div>
                <!-- Estimated Time -->
                <div class="input-field col s4">
                    <input placeholder="Minutes" id="estimated_time" name="estimated_time" type="number" value="{{ recipe.estimated_time }}" class="validate" required>
                    <label for="estimated_time"><i class="far fa-clock"></i> Estimated time</label>
                </div>
            </div>
            <!-- URL Picture -->
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="URL's Picture" id="url_picture" name="url_picture" type="text" minlength="5" value="{{ recipe.url_picture }}" class="validate">
                    <label for="url_picture"><i class="far fa-image"></i> URL Picture</label>
                </div>
            </div>
            <!-- Commentary Text Area -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea placeholder="Recipe commentary" id="commentary" name="commentary" class="materialize-textarea">{{ recipe.commentary }}</textarea>
                    <label for="commentary"><i class="far fa-comment-alt"></i> Commentary</label>
                </div>
            </div>
            <!-- Ingredients List -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea placeholder="One item per line;" id="ingredients_list" name="ingredients_list" class="materialize-textarea">{% for ingredient in recipe.ingredients_list %}
                        {{- ingredient -}}
                    {% endfor %}</textarea>
                    <label for="ingredients_list"><i class="far fa-list-alt"></i> Ingredients List</label>
                </div>
            </div>
            <!-- Preparation Method -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea placeholder="One step per line" id="method" name="method" class="materialize-textarea">{% for step in recipe.method %}{{- step -}}{% endfor %}</textarea>
                    <label for="method"><i class="fas fa-list-ol"></i> Method of Preparation</label>
                </div>
            </div>
            <!-- Submit Button -->
            <div class="row">
                <div class="col s12 center-align">
                    <a class="btn-large red text-shadow" href="{{ url_for('all_recipes') }}">Cancel <i class="fas fa-times-circle right"></i></a>
                    <button type="submit" 
                    class="btn-large indigo accent-2 text-shadow"> Update Recipe <i class="far fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}