{% extends "base.html" %}
{% block content %}

    <!-- Recipe Name and Picture  -->
    <div class="row">
        <div class="col 12">
            <h3 class="center-align">{{ recipe.recipe_name }}</h3><br>
            <div class="col s8 offset-s2">
                <img class="responsive-img" src="{{ recipe.url_picture }}">
            </div>
        </div>
    </div>

    <!-- Edit Btn -->
    <div class="row">
        <div class="col s12 center-align">
            <a class="btn-large red text-shadow" href="{{ url_for('all_recipes') }}">Cancel <i class="fas fa-times-circle right"></i></a>
            <a class="btn-large indigo accent-2 text-shadow" href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
                Update Recipe <i class="far fa-edit right"></i>
            </a>
        </div>
    </div>

    <!-- Recipe Card -->
    <div class="row">
        <div class="col s12">
            <div class="card-panel teal z-depth-2">
                <!-- Recipe Header Name and Tag -->
                <div class="row">
                    <div class="col s8">
                        <h5><i class="fas fa-utensils"></i> {{ recipe.recipe_name }}</h5><br>
                    </div>
                    <div class="col s4 right-align">
                        <h5><i class="fas fa-tags"></i> {{ recipe.food_type }}</h5>
                    </div>
                </div>
                <!-- Estimated Time -->
                <div class="row">
                    <div class="col s8">
                        <h6><i class="far fa-clock"></i> Time estimated: {{ recipe.estimated_time }} minutes</h6>
                    </div>
                </div>
                <!-- Recipe Commentary -->
                <div class="row">
                    <div class="col s12">
                        <h6><i class="far fa-comment-alt"></i> Commentary</h6>
                        <p>{{ recipe.commentary }}</p>
                    </div>
                </div>
                <!-- Ingredient List -->
                <div class="row">
                    <div class="col s12">
                        <h6><i class="far fa-list-alt"></i> Ingredients</h6>
                        {% for ingredient in recipe.ingredients_list %}
                            <ul>
                                <li>{{- ingredient -}}</li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>
                <!-- Method of Preparation -->
                <div class="row">
                    <div class="col s12">
                        <h6><i class="fas fa-list-ol"></i> Method</h6>
                        {% for step in recipe.method %}
                            <ul>
                                <li>{{- step -}}</li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col s8">
                        <p><i class="far fa-user prefix"></i> Created by: {{ recipe.created_by }}</p><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}