{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col s12 center-align">
            <h4>Register your account</h4>
        </div>
    </div>

    <!-- Materialize form - Register form-->
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register')}}">
            <div class="card-panel indigo lighten-5 z-depth-2">
                <!-- FirstName -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-signature prefix"></i>
                        <input id="firstname" name="firstname" type="text" class="validate">
                        <label for="firstname">Firstname</label>
                    </div>
                </div>
                <!-- Username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="far fa-user prefix"></i>
                        <input id="username" name="username" type="text" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- Password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-lock prefix"></i>
                        <input id="password_1" minlength="5" maxlength="15" name="password_1" pattern="^[a-zA-Z0-9]{5,15}$" type="password" class="validate" required>
                        <label for="password_1">Password</label>
                    </div>      
                </div>
                <!-- Confirm Password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-lock prefix"></i>
                        <input id="password_2" minlength="5" maxlength="15"  name="password_2" pattern="^[a-zA-Z0-9]{5,15}$" type="password" class="validate" required>
                        <label for="password_2">Confirm Password</label>
                    </div>      
                </div>
                <!-- Register button  -->
                <div class="row">
                    <a href="{{ url_for('all_recipes') }}" class="col s4 offset-s1 btn-large red accent-3 text-shadow" type="submit">
                        Cancel <i class="fas fa-ban"></i>
                    </a>
                    <button class="col s4 offset-s2 btn-large indigo accent-2 text-shadow" type="submit">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Already registered? <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Log In</a>
            </p>
        </div>
    </div>

{% endblock %}